<ion-view view-title="Virada Cultural 2015">
    <ion-content>
        <article class="single text-center">
            <div class="post-content clearfix">
                <img src="img/logo.png" alt="Virada Cultural" class="logo-virada-cultural">
                <p>Desenvolvido por
                    <a id="hacklab" href="http://www.hacklab.com.br" title="hacklab/" target="_blank">
                        <img src="img/logo-hacklab.png" alt="" class="logo-hacklab"></a>
                         a partir da API do SP Cultura, software livre criado em uma parceria entre o
                        <a href="http://institutotim.org.br" title="Instituto TIM" target="_blank">
                            <img
                            src="img/logo-instituto-tim.png" alt="" class="logo-instituto-tim"></a>
                        e a Secretaria Municipal de Cultura.
                </p>
                <img src="img/logo-smc.png" alt="Secretaria Municipal de Cultura" class="logo-smc">
            </div>
        </article>
        <!-- .single -->
    </ion-content>
</ion-view>
