<ion-view view-title="Maloca Dragão 2016">
    <ion-content>
        <article class="single text-center">
            <div class="post-content clearfix">
                <p>No próximo dia 28 de abril, o Centro Dragão do Mar de Arte e Cultura completará 17 anos. Para comemorar a data e a efervescência no campo da arte e da cultura no Ceará, desde 2014, o Centro de Arte e Cultura realiza um grande festival de artes integradas, com programação inteiramente gratuita.</p>
                <p>Já consolidada no calendário cultural de Fortaleza, este ano, a Maloca Dragão – O encontro de todas das tribos, será realizada de 28 de abril a 1º de maio, com uma diversificada programação, composta por exposição de artes visuais, performances, espetáculos de teatro, dança, música e circo, com destaque para lançamentos e estreias, feira literária e sarau, after parties e cinema.</p>
                <br>
                <div class="logos_sobre">
                    <img class="logo_hacklab" src="img/marcas-maloca.png"/>
                </div>
                <br>
                <p>Desenvolvido por:</p>
                <div class="logos_sobre">
                    <p>
                        <a href="#" onclick="window.open('http://hacklab.com.br', '_system', 'location=yes'); return false;">
                            <img class="logo_hacklab" src="img/hacklab.png"/>
                        </a>
                    </p>
                    <p>
                        <a href="#" onclick="window.open('http://institutomutirao.org/', '_system', 'location=yes'); return false;">
                            <img class="logo_mutirao" src="img/mutirao.png"/>
                        </a>
                    </p>
                </div>
            </div>
        </article>
        <!-- .single -->
    </ion-content>
</ion-view>
