<ion-view view-title="{{ atracao.name }}">
    <ion-content>
        <article class="single">
            <header>
                <h1>Aplicativo da Virada Cultural 2015</h1>
            </header>
            <div class="post-content clearfix">
                <p>Desenvolvido por
                    <a id="hacklab" href="http://www.hacklab.com.br" title="hacklab/" target="_blank">
                        <img src="img/logo-hacklab.png" alt="" class="hacklab"></a>
                         a partir da API do SP Cultura, software livre criado em uma parceria entre o
                        <a href="http://institutotim.org.br" title="Instituto TIM" target="_blank">
                            <img
                            src="img/logo-instituto-tim.png" alt="" class="instituto-tim"></a>
                        e a Secretaria Municipal de Cultura.
                </p>
            </div>
        </article>
        <!-- .single -->
    </ion-content>
</ion-view>
