<ion-view view-title="{{ atracao.name }}">
    <ion-content>
        <img class="img-destacada-single-atracao" ng-src="{{atracao.defaultImage}}" alt="{{atracao.name}}" ng-if='atracao.defaultImage'/>
        <article id="event-00" class="single">
            <header>
                <h1>{{atracao.name}}</h1>
            </header>
            <div class="post-content clearfix">
                <p>{{atracao.shortDescription}}</p>
            </div>
            <div class="post-content clearfix">
                <p>{{atracao.description}}</p>
            </div>
            <!-- .post-content -->
            <footer>
                <div class="friends-group">
                    <a href="#" class="friend" title="Nome do amigo"><!--img com link pra minha virada respectiva --></a>
                    <a href="#" class="friend" title="Nome do amigo"><!--img com link pra minha virada respectiva --></a>
                    <a href="#" class="friend" title="Nome do amigo"><!--img com link pra minha virada respectiva --></a>
                    <a href="#" class="friend" ng-click="openModal()"><div title="Nome dos amigos">+000</div></a><!-- link pra modal com lista de todos amigos quando exceder 3 amigos-->
                </div>
            </footer>
            <div class="servico">
                <p>
                    <span><span class="label">Local:</span> <a href="#/virada/palco/{{space.id}}">{{space.name}}</a><br></span>
                    <span><span class="label">Endereço:</span> {{space.endereco}}<br></span>
                    <span><span class="label">Data:</span>{{ LL(atracao.startsOn) }}<br></span>
                    <span><span class="label">Horário:</span> {{atracao.startsAt}}<br></span>
                    <span ng-if='atracao.terms.linguagem.length > 0'><span class="label">Linguagem:</span> {{atracao.terms.linguagem.join(', ')}} <br></span>
                    <span ng-if='atracao.classificacaoEtaria'><span class="label">Classificação:</span> {{atracao.classificacaoEtaria}}<br></span>
                    <span ng-if='atracao.acessibilidade.length > 0'><span class="label">Acessibilidade:</span> {{atracao.acessibilidade.join(', ')}}<br></span>
                </p>
                <div class="hide">URL : {{mapUrl}}</div>

                <!-- src="{{mapUrl}}" -->
                <iframe width="100%" height="220" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
                        ng-src="{{getTrustedURI(mapUrl)}}"></iframe>

                <p>
                    <a class="button button-small button-assertive" target="_blank" href="{{mapUrl}}">
                        <span class="icon icon_pin"></span> Ver no mapa
                    </a>
                </p>
            </div>
        </article>
        <!-- .single -->
    </ion-content>
</ion-view>

<script id="friends-modal.html" type="text/ng-template">
    <ion-modal-view>
        <ion-header-bar class="bar-assertive">
            <h1 class="title">XXX amigos também marcaram essa atração</h1>
            <div class="button button-clear" ng-click="modal.hide()">
                <span class="icon icon_close"></span>
            </div>
        </ion-header-bar>
        <ion-content>
            <div class="list">
                <!-- link pra minha virada do amigo -->
                 <a class="item item-avatar" href="#">
                    <img src="">
                    <h2>Nome do amigo</h2>
                </a>
            </div>
        </ion-content>
  </ion-modal-view>
</script>
