<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-dark">
            <ion-nav-back-button class="button-clear">
                <div class="icon arrow_left"></div>
            </ion-nav-back-button>
            <ion-nav-buttons side="left">
                <div class="button button-logo" menu-toggle="left">
                </div>
            </ion-nav-buttons>
            <ion-nav-buttons side="right">
                <div class="button icon icon_search" menu-toggle="right">
                </div>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="tab-programacao"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left">
        <ion-content>
            <ion-list>
                <ion-item class="item-icon-left" menu-close href="#/virada/programacao">
                    <i class="icon icon_clock"></i>
                    Programação
                </ion-item>
                <ion-item class="item-icon-left" menu-close href="#/virada/minha-virada">
                    <i class="icon icon_star"></i>
                    Minha Virada
                </ion-item>
                <ion-item class="item-icon-left" menu-close href="#/virada/minha-virada">
                    <i class="icon icon_map"></i>
                    Mapa
                </ion-item>
                <ion-item class="item-icon-left" menu-close href="#/virada/sobre">
                    <i class="icon icon_info"></i>
                    Sobre
                </ion-item>
                <ion-item class="item-icon-left" menu-close href="#/virada/sobre">
                    <i class="icon icon_cog"></i>
                    Configurações
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>

    <ion-side-menu side="right">
        <ion-content>
            <ion-list>
                <ion-item class="item-divider">
                    Organizar por:
                </ion-item>
                <ion-radio ng-model="sorted" ng-change="change(this)"
                    ng-value="'L'"><i class="icon icon_pin"></i> Local</ion-radio>

                <ion-radio ng-model="sorted" ng-change="change(this)"
                    ng-value="'A'"><i class="icon arrow_up-down_alt"></i> Ordem alfabética</ion-radio>

                <ion-radio ng-model="sorted" ng-change="change(this)"
                    ng-value="'H'"><i class="icon icon_clock"></i> Horário</ion-radio>

                <ion-item class="item-divider">
                    Filtrar por:
                </ion-item>
                <div class="item item-toggle">
                    <i class="icon icon_circle-slelected"></i>
                    Próximas a mim
                    <label class="toggle toggle-assertive">
                        <input type="checkbox">
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </div>
                <ion-item menu-close="true">
                    <div ng-click="openModal()">
                        <i class="icon icon_pin"></i>
                        Local
                    </div>
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>

<script id="modal.html" type="text/ng-template">
    <ion-modal-view>
        <ion-header-bar class="bar-assertive">
            <h1 class="title">Filtrar locais</h1>
            <div class="button button-clear" ng-click="modal.hide()">
                <span class="icon icon_close"></span>
            </div>
        </ion-header-bar>
        <ion-content>
            <div class="list list-inset">
              <label class="item item-input">
                <i class="icon icon_search placeholder-icon"></i>
                <input type="text" placeholder="Search">
              </label>
              <ion-checkbox ng-model="isChecked">Nome do local</ion-checkbox>
            </div>
        </ion-content>
  </ion-modal-view>
</script>
