<ion-view view-title="Minha Virada">
  <ion-content>
        <article id="space-00" class="single">
            <!--<img ng-class="{hide: !user_picture}" ng-src="{{ user_picture }}" />
                <span>{{ user_name }}</span>
            -->
            <label class="card" ng-show="!connected && initialized">
                <button class="button button-block ion-social-facebook button-positive icon-left"
                        ng-click="login()">
                    Facebook login
                </button>
            </label>
            <div class="timeline clearfix" ng-if="initialized && connected" class="ng-hide">
                <div class="event-group" ng-repeat="event in events">
                    <div class="timeline-time" ng-if="event.duration === '24h00'">24 horas</div>
                    <div class="timeline-time" ng-if="event.duration !== '24h00'">{{event.startsAt}}</div>
                    <article class="event clearfix event-grid" ng-class="{'no-thumb' : !event.defaultImageThumb, 'evento-24h': event.duration === '24h00'}">
                        <img ng-src="{{event.defaultImageThumb}}"/>
                        <a href="#/virada/programacao/atracao/{{event.id}}">
                            <div class="event-content clearfix">
                                <h1>{{event.name}}</h1>
                            </div>
                        </a>
                        <a class="icon active favorite favorite-wait favorite-event-{{event.id}}" ng-click="minha_virada(event.id)">
                            <!--qdo selecionado adicionar classe 'active'-->
                        </a>
                    </article>
                </div>
            </div>
            <!-- .timeline -->
        </article>
        <!-- .single -->
  </ion-content>
</ion-view>
