<ion-view view-title="Programação">
    <ion-content id="programacao-content" overflow-scroll="true">
        <div ng-hide="hasData">
            <article class="single">
                <p class="text-center">Em breve você verá a programação!</p>
            </article>
        </div>
        <div class="list list-programacao">
            <div class="list">
                <div class="collection-repeat-container" >
                    <div id="programacao-container">


                    </div>
                </div>
            </div>
        </div>

<!--        <ion-list class="list list-programacao">
            <div collection-repeat="event in ledata"
                 ng-class="{'item-divider': event.location}"
                 ng-click=""
                 class="item">
                <div class="item-content">
                    <div class="item-complex" ng-if="event.location"
                         ui-sref="virada.palco-detail({palco : event.id })">
                        {{ event.name}}
                    </div>
                    <a ng-if="!event.location" href="#/virada/programacao/atracao/{{event.id}}">
                        <div class="event-time">
                            <i class="icon icon_clock"></i>
                            <time>
                                {{ event.startsAt}}
                            </time>
                        </div>
                        <h2>{{ event.name}}</h2>
                    </a>
                     Exibe a estrela se tá conectado
                    <a ng-if="!event.location && connected" href=# ng-click="minha_virada(event)">
                        <i class="icon icon-accessory event-star"
                           ng-class="{'icon_star': event.in_minha_virada, 'icon_star_alt': !event.in_minha_virada}"></i>
                    </a>
                     Exibe chevron se não tá conectado
                    <i ng-if="!event.location && !connected" class="icon ion-chevron-right icon-accessory"></i>
                </div>
            </div>
        </ion-list>-->


<script type="text/html" id="template-palco">
    <div class="item item-divider">
        <div class="item-content">
            <div class="item-complex" href="#/virada/programacao/palco/<%= entity.id %>">
                <%= entity.name %>
            </div>
        </div>
    </div>
</script>

<script type="text/html" id="template-evento">
    <div class="item" >
        <div class="item-content">
            <a href="#/virada/programacao/atracao/<%= entity.id %>" >
                <div class="event-time">
                    <i class="icon icon_clock"></i>
                    <time class="ng-binding">
                        <%= entity.startsAt %>
                    </time>
                </div>
                <h2><%= entity.name %></h2>
            </a>
            <% if (connected) { %>
                <a href=# class="js-minha-virada" onclick="minha_virada(this.parentElement.parentElement.event);">
                    <% if (entity.in_minha_virada){ %>
                    <i class="icon icon-accessory event-star icon_star"></i>
                    <% } else { %>
                    <i class="icon icon-accessory event-star icon_star_alt"></i>
                    <% } %>
                </a>
            <% } else { %>
                <i class="icon ion-chevron-right icon-accessory"></i>
            <% } %>
        </div>
    </div>
</script>
    </ion-content>
</ion-view>
