<ion-view view-title="Programação">
<ion-content class="padding">
<div collection-repeat="space in spaces" style="position: static" class="list card">
    <div class="item item-divider item-assertive" >
        {{ space.name }}
    </div>
    <div class="item" ng-init="init(this)">
        <div ng-repeat="erow in space.events" class="row">
            <div class="col col-25"
                ng-repeat="event in erow">
                <a class="photo" href="">
                    <img class="" width="100%"
                    ng-src="{{ event.defaultImageThumb }}">
                </a>
            </div>
        </div>
    </div>
</div>
</ion-content>
</ion-view>
