<ion-view view-title="Programação">
<ion-content>
<div ng-repeat="space in ledata" class="list list-programacao">
    <ion-item ng-if="space.name" href="#/virada/palco/{{space.id}}" class="item item-divider" >
        {{ space.name }}
        <h3>
            {{ space.palco.endereco }}
        </h3>
    </ion-item>
    <ion-item class="item"
        ng-repeat="event in space.events"
        href="#/virada/atracao/{{event.id}}" >
        <i class="icon icon_clock icon-accessory"></i>
        <time>
            {{ event.startsAt }}
        </time>
        <h2>{{ event.name }}</h2>
        <i class="icon ion-chevron-right icon-accessory"></i>
        <ion-option-button class="button-assertive"
                ng-click="minha_virada(event)">
                <i class="icon ion-star icon-accessory"></i>
                </ion-option-button>
    </ion-item>
</div>
<ion-infinite-scroll
    ng-if="canLoad()"
    on-infinite="loadMore()"
        distance="1%">
</ion-infinite-scroll>
</ion-content>
</ion-view>
