<ion-tabs class="tabs-striped tabs-icon-only tabs-top tabs-background-energized tabs-color-royal">

  <!-- Dashboard Tab -->
  <ion-tab title="Programação" icon-off="ion-ios-search" 
    icon-on="ion-ios-search-strong" href="#/tab/programacao">
    <ion-nav-view name="tab-programacao"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="Minha Virada" icon-off="ion-ios-star-outline" 
    icon-on="ion-ios-star" href="#/tab/minha-virada">
    <ion-nav-view name="tab-minha-virada"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Social" icon-off="ion-ios-people-outline" 
    icon-on="ion-ios-people" href="#/tab/social">
    <ion-nav-view name="tab-social"></ion-nav-view>
  </ion-tab>


</ion-tabs>
