<ion-tabs class="tabs-icon-only tabs-top tabs-dark">

  <!-- Programação Tab -->
  <ion-tab title="Programação" icon="icon_search" href="#/tab/programacao">
    <ion-nav-view name="tab-programacao"></ion-nav-view>
  </ion-tab>

  <!-- Minha Virada Tab -->
  <ion-tab title="Minha Virada" icon="icon_star" href="#/tab/minha-virada">
    <ion-nav-view name="tab-minha-virada"></ion-nav-view>
  </ion-tab>

  <!-- Social Tab -->
  <ion-tab title="Social" icon="icon_group" href="#/tab/social">
    <ion-nav-view name="tab-social"></ion-nav-view>
  </ion-tab>


</ion-tabs>
