/**
 * Bar (Headers and Footers)
 * --------------------------------------------------
 */

.bar {
	.buttons {
		&.back-button {
			color: #fff;
			border: none;
			.icon:before {
				font-size: 24px;
			}
			span.back-text {
				display: none;
			}
		}
	}
	.title {
		display: none;
	}
	.button-logo {
	    width: 18px;
	    height: 31px;
	    margin-left: 3px;
	    background-color: transparent;
	    background-image: url(../img/icone-virada.png);
	    background-repeat: no-repeat;
	    background-position: center;
	    background-size: contain;
	    border: none;
	 }
}