/**
 * Items
 * --------------------------------------------------
 */

.menu {
	.item {
		background-color: transparent;
		color: $brand-auxiliar;
		border-color: $gray-darker;
		border-left: none;
		border-right: none;
		@extend %secondary-font;
		.icon {
			font-size: 16px;
			vertical-align: middle;
			margin-right: 11px;
		}
	}
	.item-divider {
		color: #666;
	}
	.item-input {
		padding-right: 10px;
		input, .placeholder-icon {
			color: #fff;
		}
		input {
			border-bottom: 1px solid #999;
			&:focus {
				border-bottom: 1px solid #fff;
			}
		}
	}
	.item-complex .item-content, .item-radio .item-content {
		background-color: transparent;
	}
	.item-radio {
		input {
			&:checked ~ .item-content {
				/* style the item content when its checked */
				background: $gray-darker;
			}
			&:checked ~ .radio-icon {
			    /* show the checkmark icon when its checked */
			    visibility: visible;
			    color: $brand-accent;
			}
		}
		.ion-checkmark {
			font-size: 24px;
			margin-right: 0;
			&:before {
				font-family: "ElegantIcons";
				content: "\4e";
			}
		}
	}
	.item-icon-left .icon, .item-icon-right .icon {
		font-size: 16px;
	}
	.toggle {
		top: 19px;
		.track {
		background-color: $gray-darker;
		border: none;
		width: 44px;
		height: 14px;
		border-radius: 7px;
		}
		.handle {
			top: 2px;
			width: 20px;
			height: 20px;
			border-radius: 20px;
		}

	}
	.item-time-range {
		input {
			display: inline-block;
			background-color: $gray-darker;
			color: white;
			border-radius: 2px;
			padding: 0 5px;
			width: 60px;
		}
	}

}
.list-programacao {
	.item {
		h2 {
			font-weight: bold;
		}
		time {
			color: $vermelho;
			@extend %secondary-font;
		}
		.icon {
			color: $vermelho;
		}

	}
	.item-divider {
		padding: 0;
		.item-content {
			background-color: #e9e9e9;
			font-weight: bold;
			text-transform: uppercase;
		}
	}
}
.modal .item-content {
	text-transform: uppercase;
	font-weight: bold;
}