/**
 * Items
 * --------------------------------------------------
 */

 .item {
 	h2 {
 		font-weight: bold;
 	}
 	time {
 		color: $vermelho;
 		@extend %secondary-font;
 	}
 	.icon {
 		color: $vermelho;
 	}

 }

 .item-divider {
 	padding: 0;
 }